body {
    font-family: roboto;
    margin: 0;
    padding: 0; 
}

nav {
    background-color: #162b4a;
    color: #fff;
    grid-area: n;
    text-align: center;
}

h1 {
    font-size: xx-large;
}

aside {
    background-color: #c3c3c3;
    grid-area: a;
}

ul {
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    font-size: medium;
    height: 20%;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.5em 2em 0.5em 0.5em;
    width: 100%;
    flex-wrap: nowrap;
    
}
.flex_producto {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

main {
    background-color: #c3c3c3;
    grid-area: m;
    padding-top: 1em;
    padding-bottom: 1em;
}


img {
    height: 22em;
    width: 22em;  
}

button {
    background-color: #162b4a;
    color: #fff;
    width: 100%;
    height: 10%;
}

footer {
    background-color: #e1e1e1;
    grid-area: f;
    text-align: center;
    padding: 1em;
}

.grid_container {
    display: grid;
    gap: 0.1em;
    grid-template-areas: 
    "n n n n n n n n"
    "a a m m m m m m"
    "a a m m m m m m"
    "f f f f f f f f";
    height: 100vh;
}

.grid_productos {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 1em;
 
}

